.container {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-flow: dense;

}
.item {
	font-size: 15px;
}
.item:nth-child(2n) {
	background-color: red;
	grid-column: span 2;
}
.item:nth-child(4n) {
	background-color: blue;
	grid-column: span 4;
}
.item:nth-child(9n) {
	background-color: green;
	grid-column: span 5;
}
.item8 {
	grid-column: span 4 / -1 !important;
	background-color: purple !important;
	grid-row: 5 / span 2 !important;
}