body {
  margin: 20px;
  font-family: arial, helvetica;
}
.btn {
	font-weight: bold;
}
.alert {
	padding: 4px;
	font-size: 12px;
	font-weight: bold;
	border: none;
}
.alert-info {
	color: #9199a9;
	background: #f2f3f5;
}
.product {
	text-align: center;
	border:solid 1px #ccc;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 8px;
}
.product .name {
	font-size: 14px;
	font-weight: bold;
}
.product .price {

}
.product .stock-status {
	color:#999;
}
.product button {
	margin-top:5px; 
	font-weight: 
}
.cart {
	text-align: center;
	border:solid 1px #ccc;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 8px;
}
.cart h4{ 
	font-weight: bold;
}
.cart-product-list {
	text-align: left;
}
.cart-product {
	padding:10px 12px;
}
.cart-product .name,
.cart-product .price,
.cart-product .quantity,
.cart-product .remove {
	line-height: 20px;
}
.cart-product .name {
	font-weight: bold;
}
.cart-product .price {
	text-align: right;
}
.cart-product .remove {
	text-align: right;
}
.cart-product:nth-child(even) {
	background: #f2f3f5;
}
.cart-product-list-header {
	font-weight: bold;
	padding:10px 12px;
}
.cart-product-list-header .price {
	text-align: right;
}
.cart-product-list-totals {
	font-weight: bold;
	padding:10px 12px;
	border-top:1px #ccc solid;
	margin-top:20px;
	padding-top: 10px;
}
.cart-product-list-totals .price {
	text-align: right;
}
.remove button {
	border-radius: 50%;
	font-weight: bold;
	line-height: 10px;
	font-size: 20px;
  	transform: rotate(45deg);
  	width: 20px;
  	height: 20px;
  	padding: 0;
  	margin: 0;
  	cursor: pointer;


}